{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/pais.css" %}">
    <title>MUNDIAL FIFA 2026</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static "/images/logo.jpg" %}" alt="#">
        </div>
        <h2>MUNDIAL FIFA 2026</h2>
        <div class="menu">
            <ul>
                <li class="item"><a href="{% url 'index' %}">Inicio</a></li>
                <li class="item"><a href="{% url 'equipos' %}">Equipos</a></li>
                {% if request.user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                {% else %}
                    <li class="item"><a href="{% url 'login' %}">Login</a></li>

                {% endif %}
            </ul>
        </div>
    </header>
    
    {% block  content%}
        
    {% endblock  %}


    <footer>
        <img src="{% static "/images/logo.jpg" %}" alt="#">
        <div class="menu_footer">
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="https://www.instagram.com/fifa?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">Instagram</a></li>
                <li><a href="#">X</a></li>
                <li class="item"><a href="{% url 'login_administrador' %}">Administrador</a></li>

            </ul>
        </div>
    </footer>



</body>
</html>